<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name ="DefaultConnection"
           connectionString="Data Source=.;Initial Catalog=AppCATL;User ID=sa;Password=123" providerName="System.Data.SqlClient" />
    <add name="DBStr"
       connectionString="server=localhost;database=testsys;uid=root;pwd=root;Persist Security Info=True;Charset=utf8;" providerName="MySql.Data.MySqlClient" />
    <add name ="BakingOne"
       connectionString="192.168.1.130"/>
    <add name ="BakingTwo"
   connectionString="192.168.1.131"/>
    <add name ="BakingThree"
   connectionString="192.168.1.132"/>
    <add name ="BakingFour"
   connectionString="192.168.1.133"/>
    <add name ="BakingFive"
   connectionString="192.168.1.135"/>
    <add name ="BakingSix"
   connectionString="192.168.1.134"/>
  </connectionStrings>
</configuration>